.photo{
  max-width:100%;
  margin: auto;
  justify-content: center;
}

.wrapper{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}

.wrapper > div{
  background:#efefef;
  padding:1em;
}

.wrapper > div:nth-child(odd){
  background:#e5e5e5;
}
