<div class = "check-container">
  <div class = "navbar">
    <button *ngIf = "!isLoggedIn" routerLink="/">home</button>
    <button *ngIf = "!isLoggedIn" routerLink="/login">login</button>
    <button *ngIf = "isLoggedIn" routerLink="/profile">profile</button>
    <button *ngIf = "isLoggedIn" routerLink="/logout">logout</button>
  </div>
  <app-logo></app-logo>
  <h1>check how your friends are doing today</h1>
  <h2>{{message}}</h2>
  <h3>Search a username and see how they are feeling today</h3>

  <form novalidate #form="ngForm" (ngSubmit)="onSubmit(form)" class = "form">
    <input
      type = "text"
      [(ngModel)] = "username"
      name = "username"
      placeholder = "username"
    >
    <input type="submit" value="check">
  </form>
</div>
