<div class = "feelings-container">
  <button routerLink="/profile">go back to profile</button>
  <app-logo></app-logo>
  <h1>updown</h1>
  <h1>How are you feeling?</h1>
  <div class = "left">
    <img src = "assets/Mint-W.png" (click) = "happy()" alt="happy face"><br>
    <div [ngClass] = "{'selected' : feeling === 'happy'}">up</div>
  </div>
  <div class = "right">
    <img src = "assets/Pink-W.png" (click) = "sad()" alt="sad face"><br>
    <div [ngClass] = "{'selected' : feeling === 'sad'}">down</div>
  </div>

  <div class ="save">
    <button (click) = "submit()">save</button>
  </div>
</div>
