<div class = "register-container">
  <div class = "navbar">
    <button routerLink="/login">login</button>
  </div>
  <app-logo></app-logo>
  <h1>whiteshoeswednesday</h1>
  <h2>Sign up</h2>
  <form novalidate #form="ngForm" (ngSubmit)="onSubmit(form)" class = "form">
    email address:
    <input
      type = "email"
      [(ngModel)] = "email"
      name = "email"
      required
    >
    username:
    <input
      type = "text"
      [(ngModel)] = "username"
      name = "username"
      required
    >
    password:
    <input
      type = "password"
      [(ngModel)] = "password"
      name = "password"
      required
    >
    <input type="submit" [disabled]="!form.valid" value="Sign up">
    <a class = "already" routerLink="/login">already have an account?</a>
  </form>
</div>
