<div class = "register-container">
  <app-logo></app-logo>
  <h1>whiteshoeswednesday</h1>
  <h2>Sign up</h2>
  <form novalidate #form="ngForm" (ngSubmit)="onSubmit(form)" class = "form">
    email address:
    <input
      type = "email"
      [(ngModel)] = "email"
      name = "email"
    >
    username:
    <input
      type = "text"
      [(ngModel)] = "username"
      name = "username"
    >
    password:
    <input
      type = "password"
      [(ngModel)] = "password"
      name = "password"
    >
    <!--
    re-enter password:
    <input
      type = "password"
    >-->
    <br>
    <input type="submit" value="Sign up">
    <a class = "already" routerLink="/login">already have an account?</a>
  </form>
</div>
