<div class = "profile-container">
  <app-logo></app-logo>
  <h1>{{user}}'s whiteshoeswednesday record</h1>
  <h2>whiteshoeswednesday</h2>
  <h4>shows wednesdays that you wore white shoes!</h4>
  <div class = "observe"><button routerLink="/observance">log</button></div>
  <div class = "wednesday-log">
    <div *ngFor = "let m of dates" class = "month">
      {{m[0].date | date: 'MMMM'}}
      <div *ngFor = "let w of m">
        <div *ngIf = "w.dateTime.getDay() == 3">
          <div *ngIf = "w.whiteshoes === true; else elseBlock">
            <div class ="happy"></div><div class = "hover">{{w.dateTime | date:'shortDate'}}</div>
          </div>
          <ng-template #elseBlock>
            <div class ="sad"></div><div class = "hover">{{w.dateTime | date:'shortDate'}}</div>
          </ng-template>
        </div>
      </div>
      <br><br> <!-- space between months -->
    </div>
  </div>
</div>
