h1, h2, h4 {
  text-align: center;
}

.happy {
  width: 1.5%;
  height: 1.5%;
  background: white;
  padding-bottom:1.5%;
  float: left;
  margin: 0.25%;
}

.sad {
  width: 1.5%;
  height: 1.5%;
  background: grey;
  padding-bottom:1.5%;
  float: left;
  margin: 0.25%;
}

.empty {
  width: 1.5%;
  height: 1.5%;
  background: grey;
  padding-bottom:1.5%;
  float: left;
  margin: 0.25%;
}

.container {
  margin: 0 auto;
  max-width: 100%;
}

.happy:hover + .hover, .sad:hover + .hover, .empty:hover + .hover {
  display:block;
}

.hover {
  display:none;
}

.profile-container {
  background-color: lightgray;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.observe {
  text-align: center;
}

.wednesday-log {
  width: 50%;
  margin:auto;
}

.logout {
  text-align: right;
}

a {
  color: blue;
}
